*.2bit
2bits/
kent_binaries/*
chains/*
*.so
*.dSYM/*
*/*.dSYM/*
*.zip
*.gzip
*.gz 
temp/*
.DS_Store
.idea/*
venv/*
__pycache__/*
modules/__pycache__/*
test_out/

# Kent binaries
HL_kent_binaries/pslSortAcc
HL_kent_binaries/chainAntiRepeat
HL_kent_binaries/chainMergeSort
HL_kent_binaries/chainCleaner
HL_kent_binaries/chainSort
HL_kent_binaries/chainScore
chain_clean_micro_env/chainNet
# to be continued
